h1 {
	color: blue;
	text-indent: 25px;
}
body {
	background-color: lightgrey;
}
table {
	background-color: transparent;
}
td {
	border: 1px dotted blue;
	padding: 40px 20px;
	background-color: white;
}
td.left {
	width: 30%;
	vertical-align: text-top;
}
td.middle{
	width: 50%;
	vertical-align: middle;
}
td.right {
	width: 20%;
	vertical-align: top; 
	}
p.left {
	margin-top: 0;
}
img {
	width: 100%;
}
}
.footer {
	display: block;
	margin: auto;
	width: 50%;
}
h3 {
	margin-top: 0;
}

