h1 {
	color: blue;
	text-indent: 25px;
}
body {
	background-color: lightgrey;
}
table {
	background-color: transparent;
}
td {
	border: 1px dotted blue;
	padding: 40px 20px;
	background-color: white;
}
td.left {
	width: 25%;
	vertical-align: text-top;
}
td.middle{
	width: 60%;
	vertical-align: middle;
}
td.right {
	width: 15%;
	vertical-align: top; 
	}
p.left {
	margin-top: 0;
}
img {
	width: auto
}
}
.footer {
	text-align: center;
}
h3 {
	margin-top: 0;
}

